//colors
$gray: hsl(233,8%,75%);
$white: hsl(0,0%,100%);
$primary: hsl(168, 63%, 52%);
$darkBlue: hsl(233,26%,24%);
$grayishBlue: hsl(233,8%,62%);
$lightGrayishBlue: hsl(220,16%,96%);


//Font Sizes
$font-sm:0.875rem;
$font-md: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;